<%- include('../../../inputs-fields/update/input', {id: dataItem._id, value: dataItem.name , name: 'name' , type: 'text' , label: 'الإسم'}) %>

<% dataItem.departmentsPrice.forEach((departmentPrice, index)=> { %>
  <div class="input-group department-price mt-4">
    <label for="<%= departmentPrice.department.name %>" class="input-group-text">
      <%= departmentPrice.department.name %>
    </label>
    <input id="<%= departmentPrice.department.name %>" name="departmentsPrice[<%= index %>][price]" type="number" class="form-control" value="<%= departmentPrice.price %>">
    <input name="departmentsPrice[<%= index %>][department]" type="hidden" class="form-control" value="<%= departmentPrice.department._id %>">
    <label class="input-group-text">قرش</label>
  </div>
  <div class="text-danger text-danger-department-price mt-1" style="display: none;"></div>
<% }); %>