<td scope="col">
  <input type="text" class="form-control" name="name" form="filter-form" placeholder="إبحث" value='<%= (filters.name) ? filters.name : '' %>'>
</td>
<td scope="col">
  <div class="input-group">
    <select class="form-select">
      <option value="" <%=(filters.bonusLimit.split(":").length===1) ? 'selected' : '' %>>=</option>
      <option value="lt:" <%=(filters.bonusLimit.split(":").length===2 && filters.bonusLimit.split(":")[0]==='lt' ) ? 'selected' : ''
        %>>></option>
      <option value="lte:" <%=(filters.bonusLimit.split(":").length===2 && filters.bonusLimit.split(":")[0]==='lte' ) ? 'selected'
        : '' %>>>=</option>
      <option value="gt:" <%=(filters.bonusLimit.split(":").length===2 && filters.bonusLimit.split(":")[0]==='gt' ) ? 'selected' : ''
        %>><</option>
      <option value="gte:" <%=(filters.bonusLimit.split(":").length===2 && filters.bonusLimit.split(":")[0]==='gte' ) ? 'selected'
        : '' %>><=</option>
    </select>
    <input type="number" class="form-control" name="bonusLimit" form="filter-form" placeholder="الرقم"
      value='<%= (filters.bonusLimit.split(":").length === 2) ? filters.bonusLimit.split(":")[1] : filters.bonusLimit.split(":")[0] %>'>
  </div>
</td>