<td>
  <a href="/workers?name=search:<%= dataItem.worker.name %>">
    <%= (dataItem.worker && dataItem.worker.name) ? dataItem.worker.name : "لا يوجد" %>
  </a>
</td>
<td>
  <a href="/products?name=search:<%= dataItem.product.name %>">
    <%= (dataItem.product && dataItem.product.name)? `${dataItem.quantity} ${dataItem.product.name}` : 'لا يوجد' %>
  </a>
</td>
<td>
  <a href="/departments?name=search:<%= dataItem.department.name %>">
    <%= (dataItem.department && dataItem.department.name)? dataItem.department.name : 'لايوجد' %>
  </a>
</td>
<td>
  <%= (dataItem.price) ? Math.round(dataItem.price) + " جنيه" : 'لايوجد' %>
</td>
<td>
  <%= (dataItem.arabicDate) ? dataItem.arabicDate : 'لايوجد' %>
</td>