<td>
  <a href="/workers?name=search:<%= dataItem.worker.name %>">
    <%= (dataItem.worker && dataItem.worker.name) ? dataItem.worker.name : "لا يوجد" %>
  </a>
</td>
<td>
  <a href="/products?name=search:<%= dataItem.product.name %>">
    <% if(dataItem.product && dataItem.product.name) { %>
      <kbd><%= dataItem.quantity %></kbd><strong class="mx-3">-</strong><%= dataItem.product.name %>
    <% } else { %>
      لا يوجد
    <% } %>
  </a>
</td>
<td>
  <a href="/departments?name=search:<%= dataItem.department.name %>">
    <%= (dataItem.department && dataItem.department.name)? dataItem.department.name : 'لايوجد' %>
  </a>
</td>
<td>
  <%= (dataItem.price) ? Math.round(dataItem.price) + " جنيه" : 'لايوجد' %>
</td>
<td>
  <%= (dataItem.arabicDate) ? dataItem.arabicDate : 'لايوجد' %>
</td>