<td>
  <%= (dataItem.worker && dataItem.worker.name) ? dataItem.worker.name : "لا يوجد" %>
</td>
<td>
  <%= (dataItem.product && dataItem.product.name)? dataItem.product.name : 'لا يوجد' %>
</td>
<td>
  <%= (dataItem.department && dataItem.department.name)? dataItem.department.name : 'لا يوجد' %>
</td>
<td>
  <%= (dataItem.quantity) ? dataItem.quantity : 'لايوجد' %>
</td>
<td>
  <%= (dataItem.arabicDate) ? dataItem.arabicDate : 'لايوجد' %>
</td>
<td>
  <%= (dataItem.cost) ? dataItem.cost : 'لايوجد' %>
</td>