<div id="menu-bar">
  <div class="row p-3 g-3">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-7 col-12">
      <div class="input-group">
        <label for="sort" class="input-group-text">
          <label for="sort-type" class="input-group-text">ترتيب</label>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name="sort-type" id="sort-type" form="filter-form" <%=(filters.sort.startsWith("-"))?"checked":""%>>
          </div>
        </label>
        <select class="form-select" id="sort" name="sort" form="filter-form">
          <option value="createdAt" <%=(filters.sort.replace('-', '' )==="createdAt" ) ? 'selected' : '' %>>تاريخ الإنشاء</option>
          <option value="updatedAt" <%=(filters.sort.replace('-', '' )==="updatedAt" ) ? 'selected' : '' %>>تاريخ آخر تحديث</option>
          <%- include(`./modules/${type}/sort-options`) %>
        </select>
      </div>
    </div>

    <div class="col-xl-2 col-md-3 col-sm-5 col-8">
      <div class="input-group">
        <label class="input-group-text" for="page-size">عدد الصفوف</label>
        <input id="page-size" name="pageSize" type="number" class="form-control" form="filter-form" aria-label="page-size" aria-describedby="page-size" value="<%=(filters.pagination.pageSize) ? filters.pagination.pageSize : 10 %>">
      </div>
    </div>

    <div class="col-xl-2 col-md-2 col-sm-3 col-5">
      <button type="submit" class="btn w-4" form="filter-form"><i class="fa-solid fa-magnifying-glass me-3"></i>فلترة</button>
    </div>

    <div class="col-xl-2 col-md-3 col-sm-4 col-7">
      <div class="input-group">
        <a class="btn w-4" href="/<%= type %>"><i class="fa-solid fa-eraser me-3"></i>حذف الفلاتر</a>
      </div>
    </div>

  </div>
</div>