<form action="/<%= type %>" id="filter-form" method="get"></form>

<div class="container overflow-hidden">
  <%- include('components/menu-bar', {...filters}) %>

  <div class="row g-4 my-4" style="max-width: 400px;">
    <%- include(`components/form-modals/create`) %>
    <div class="col-sm-6 col-12">
      <button class="btn" type="button" data-bs-toggle="modal" data-bs-target='#create-<%= type %>-modal'><i class="fa-solid fa-plus"></i>&nbsp&nbspإضافة بيانات</button>
    </div>
      
    <% if (type === 'production' || type === 'attendance') { %>
      <%- include('components/form-modals/get-salary') %>
      <div class="col-sm-6 col-12">
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#salary-modal"><i class="fa-solid fa-list" style="transform: rotate(180deg);"></i>&nbsp&nbspإظهارالمرتبات</button>
      </div>
    <% } %>
  </div>

  <% if(error) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div><%= error %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

  <% if(data.length > 0) { %>
    <%- include(`components/table`) %>

    <% if(filters.pagination.totalPages> 1) { %>
      <%- include('components/pagination', filters.pagination) %>
    <% } %>
  <% } else { %>
    <div class="alert alert-warning" role="alert">لا يوجد بيانات</div>
  <% } %>
</div>