<!DOCTYPE html>
<html lang="ar" dir="rtl">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/styles/choices.css" />
    <link rel="stylesheet" href="/styles/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <link rel="stylesheet" href="/styles/pagination.css" />
    <link rel="stylesheet" href="/styles/table.css" />
    <link rel="stylesheet" href="/styles/logo.css" />
    <title><%= title %></title>
  </head>

  <body page-type="<%= type %>">
    <%- include('components/header') %>
    <%- include(`components/form-modals/create`) %>
    <main style="margin-top: 10px">
      <div class="container pt-4">
        <form action="/<%= type %>" id="filter-form" method="get"></form>

        <div class="container overflow-hidden">

          <%- include('components/menu-bar', {filters}) %>

          <div class="row g-4 my-4" style="max-width: 400px;">
            <div class="col-sm-6 col-12">
            </div>
          </div>

          <% if(error) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <div>
                <%= error %>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>

          <%- include(`components/table`) %>

          <% if(filters.pagination.totalPages> 1) { %>
            <%- include('components/pagination', filters.pagination) %>
          <% } %>
        </div>
      </div>
    </main>

    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/choices.js"></script>
    <script src="/scripts/filters.js"></script>
    <script src="/scripts/modules/<%= type %>.js"></script>
    <script src="/scripts/modules/salary.js"></script>
    <script src="/scripts/script.js"></script>
  </body>

</html>