<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/styles/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/table.css" />
    <link rel="stylesheet" href="/styles/logo.css" />
    <title>
      <%= title %>
    </title>
    <style>
      #title {
        font-size: 2rem !important;
        font-weight: bold;
        max-width: 700px;
        margin: 2em auto;
      }
      #title i {
        font-size: 1.5rem;
      }

      td .form-check {
        max-width: 20px;
        margin: 0 auto;
      }
    </style>
  </head>

  <body page-type="<%= type %>">
    <%- include('components/header/main') %>
    <main style="margin-top: 10px">
      <div class="container pt-4">
        <h1 id="title"><%= arabicFromDate %><i class="fa-solid fa-arrow-left mx-5"></i><%= arabicToDate %></h1>

        <div class="container-xl">
          <% if(attendanceWorkers.length !== 0) { %>
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
                <caption class="mx-4 fs-5">
                  <span>عمال المرتب الأسبوعي</span>
                </caption>
                <thead>
                  <tr class="table-dark">
                    <th scope="col">الرقم</th>
                    <th scope="col">إسم العامل</th>
                    <th scope="col">المرتب</th>
                    <th scope="col">تفاصيل الحضور</th>
                    <th scope="col">تم</th>
                  </tr>
                </thead>
                <tbody>
                  <% attendanceWorkers.forEach((worker, index)=>{ %>
                    <tr>
                      <th class="table-dark" scope="row">
                        <%= index+1 %>
                      </th>
                      <td>
                        <%= worker.name %>
                      </td>
                      <td>
                        <%= Math.ceil(worker.totalPrice) %>
                      </td>
                      <td>
                        <a href="/attendance?date=daterange:<%= `${fromDate.toISOString().split('T')[0]},${toDate.toISOString().split('T')[0]}` %>&worker=objectid:<%= worker._id %>" class="btn">تفاصيل</a>
                      </td>
                      <td>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch">
                        </div>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          <% } else { %>
            <div class="alert alert-warning" role="alert">لا يوجد بيانات</div>
          <% } %>

          <% if(productionWorkers.length !== 0) { %>
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
                <caption class="mx-4 fs-5">
                  <span>عمال الإنتاج</span>
                </caption>
                <thead>
                  <tr class="table-dark">
                    <th scope="col">الرقم</th>
                    <th scope="col">إسم العامل</th>
                    <th scope="col">المرتب بدون الحافز</th>
                    <th scope="col">قيمة الحافز</th>
                    <th scope="col">المجموع</th>
                    <th scope="col">تفاصيل الإنتاج</th>
                    <th scope="col">تم</th>
                  </tr>
                </thead>
                <tbody>
                  <% productionWorkers.forEach((worker, index)=>{ %>
                    <tr>
                      <th class="table-dark" scope="row">
                        <%= index+1 %>
                      </th>
                      <td>
                        <%= worker.name %>
                      </td>
                      <td>
                        <%= Math.ceil(worker.totalPrice) %>
                      </td>
                      <td>
                        <%= Math.ceil(worker.bonus) %>
                      </td>
                      <td>
                        <%= Math.ceil(worker.totalSalary) %>
                      </td>
                      <td>
                        <a href="/production?date=daterange:<%= `${fromDate.toISOString().split('T')[0]},${toDate.toISOString().split('T')[0]}` %>&worker=objectid:<%= worker._id %>" class="btn">تفاصيل</a>
                      </td>
                      <td>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch">
                        </div>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          <% } else { %>
            <div class="alert alert-warning" role="alert">لا يوجد بيانات</div>
          <% } %>
        </div>
      </div>
    </main>
      
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/modules/salary.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
