<div class="container-xl">
  <a class="btn my-5" href="/production">رجوع لصفحة الإنتاج</a>

  <% if(data.attendenceWorkers.length !== 0) { %>
    <div class="table-responsive">
      <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
        <caption class="mx-4 fs-5">
          <span>عمال المرتب الأسبوعي</span>
        </caption>
        <thead>
          <tr class="table-dark">
            <th scope="col">الرقم</th>
            <th scope="col">إسم العامل</th>
            <th scope="col">المرتب</th>
            <th scope="col">تم</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((worker, index)=>{ %>
            <tr>
              <th class="table-dark" scope="row">
                <%= index+1 %>
              </th>
              <td>
                <%= worker.name %>
              </td>
              <td>
                <%= worker.totalPrice %>
              </td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch">
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } else { %>
    <div class="alert alert-warning" role="alert">لا يوجد بيانات</div>
  <% } %>

  <% if(data.productionWorkers.length !== 0) { %>
    <div class="table-responsive">
      <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
        <caption class="mx-4 fs-5">
          <span>عمال الإنتاج</span>
        </caption>
        <thead>
          <tr class="table-dark">
            <th scope="col">الرقم</th>
            <th scope="col">إسم العامل</th>
            <th scope="col">المرتب بدون الحافز</th>
            <th scope="col">قيمة الحافز</th>
            <th scope="col">المجموع</th>
            <th scope="col">تم</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((worker, index)=>{ %>
            <tr>
              <th class="table-dark" scope="row">
                <%= index+1 %>
              </th>
              <td>
                <%= worker.name %>
              </td>
              <td>
                <%= worker.totalPrice %>
              </td>
              <td>
                <%= worker.bonus %>
              </td>
              <td>
                <%= worker.totalSalary %>
              </td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch">
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } else { %>
    <div class="alert alert-warning" role="alert">لا يوجد بيانات</div>
  <% } %>
</div>
