<div class="modal fade" id="<%= `create-${type}-modal` %>" tabindex="-1" aria-labelledby="<%= `create-${type}-modal-label` %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="<%= `create-${type}-modal-label` %>">إضافة بيانات</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="<%= `/${type}` %>" method="post" id="<%= `create-${type}-form` %>">
          <%- include(`../modules/${type}/fields/create`) %>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-save <%= `create-${type}` %>">حفظ</button>
      </div>
    </div>
  </div>
</div>