<% data.forEach((dataItem, index)=>{ %>
  <tr>
    <th class="table-dark" scope="row">
      <%= index+1 %>
    </th>

    <%- include(`../modules/${type}/table-components/data`, { dataItem }) %>

    <td>
      <%= (dataItem.createdBy && dataItem.createdBy.username) ? dataItem.createdBy.username : 'لا يوجد' %>
    </td>
    <td>
      <%= (dataItem.updatedBy && dataItem.updatedBy.username) ? dataItem.updatedBy.username : 'لا يوجد' %>
    </td>
    <td>
      <%= (dataItem.createdAtArabic) ? dataItem.createdAtArabic : "لا يوجد" %>
    </td>
    <td>
      <%= (dataItem.updatedAtArabic) ? dataItem.updatedAtArabic : "لا يوجد" %>
    </td>
    <td>
      <% if(dataItem.role !== 'مدير') { %>
        <button class="btn btn-update" data-bs-toggle="modal"
        data-bs-target="#update-<%= type %>-modal-<%=index %>"><i class="fa-solid fa-pen-to-square"></i></button>
        <%- include('../form-modals/update', {index, dataItem}) %>
      <% } %>
    </td>
    <td>
      <% if(dataItem.role !== 'مدير') { %>
        <button class="btn btn-danger" data-bs-toggle="modal"
          data-bs-target="#delete-<%= type %>-modal-<%= index %>"><i class="fa-solid fa-trash"></i></button>
        <%- include('../delete-modal', {index, dataItem}) %>
      <% } %>
    </td>
  </tr>
<% }) %>