<td scope="col">
  <a href="/production?date=daterange:<%= salaryForm.from %>,<%= salaryForm.to %>&product=objectid:<%= dataItem._id.toString() %>">
    <%= (dataItem.name) ? dataItem.name : 'لايوجد' %>
  </a>
</td>
<td>
  <a href="/productCategory?name=search:<%= dataItem.category.name %>">
    <%= (dataItem.category && dataItem.category.name) ? dataItem.category.name : 'لا يوجد' %>
  </a>
</td>
<td>
  <a href="/priceType?name=search:<%= dataItem.priceType.name %>">
    <%= (dataItem.priceType && dataItem.priceType.name) ? dataItem.priceType.name : 'لا يوجد' %>
  </a>
</td>