<td scope="col">
  <input type="text" class="form-control" name="name" form="filter-form" placeholder="إبحث" value='<%= (filters.name) ? filters.name : '' %>'>
</td>
<td scope="col">
  <select class="form-select modify" name="category" form="filter-form">
    <option value="" selected <%=(!filters.category) ? "selected" : "" %>>إختر</option>
    <% categories.forEach(category=> { %>
      <option value="objectid:<%= category._id %>" <%=(filters.category===category._id.toString() ) ? "selected" : "" %>>
        <%= category.name %>
      </option>
      <% }) %>
  </select>
</td>
<td scope="col">
  <select class="form-select modify" name="priceType" form="filter-form">
    <option value="" selected <%=(!filters.priceType) ? "selected" : "" %>>إختر</option>
    <% priceTypes.forEach(priceType=> { %>
      <option value="objectid:<%= priceType._id %>" <%=(filters.priceType===priceType._id.toString() ) ? "selected" : "" %>>
        <%= priceType.name %>
      </option>
    <% }) %>
  </select>
</td>