<div class="input-group mt-4">
  <label for="<%= name %>" class="input-group-text"><%= label %></label>
  <input type="<%= type %>" class="form-control" name="<%= name %>" id="<%= name %>" <% if(type === 'date') { %>value="<%= todayDate %>" max="<%= todayDate %>"<% } %>>
</div>
<div class="text-danger text-danger-<%= name %> mt-1" style="display: none;"></div>