<div class="input-group mt-4">
  <label for="<%= `${name}-${id}` %>" class="input-group-text"><%= label %></label>
  <input type="<%= type %>" class="form-control <%= (type==='date' )? "not-today" : "" %>" name="<%= name %>" id="<%= `${name}-${id}` %>" value='<%= (value!=Infinity) ? value : '' %>'>
</div>
<div class="text-danger text-danger-<%= name %> mt-1" style="display: none;"></div>