<div class="input-group mt-4">
  <label for="<%= `${name}-${id}` %>" class="input-group-text"><%= label %></label>
  <select class="form-select modify px-4" id="<%= `${name}-${id}` %>" name="<%= name %>">
    <option value="" selected>اختر</option>
    <% data.forEach(dataItem=> { %>
      <option value="<%= dataItem._id %>" <%=(value===dataItem._id.toString())? 'selected' : '' %>><%= dataItem.name %></option>
    <% }) %>
  </select>
</div>
<div class="text-danger text-danger-<%= name %> mt-1" style="display: none;"></div>