<td scope="col">
  <a href="/production?date=daterange:<%= salaryForm.from %>,<%= salaryForm.to %>&worker=objectid:<%= dataItem._id.toString() %>">
    <%= (dataItem.name) ? dataItem.name : 'لايوجد' %>
  </a>
</td>
<td scope="col">
  <%= (dataItem.type) ? dataItem.type : 'لايوجد' %>
</td>
<td scope="col">
  <a href="/departments?name=search:<%= dataItem.department.name %>">
    <%= (dataItem.department && dataItem.department.name)? dataItem.department.name : 'لايوجد' %>
  </a>
</td>
<td scope="col">
  <%= (dataItem.salary) ? dataItem.salary : 'إنتاج' %>
</td>