<td scope="col">
  <input type="text" class="form-control" name="name" form="filter-form" placeholder="إبحث" value='<%= (filters.name) ? filters.name : '' %>'>
</td>
<td scope="col">
  <select class="form-select" name="type" form="filter-form">
    <option value="" <%=(!filters.type) ? "selected" : "" %>>اختر</option>
    <option value="إنتاج" <%=(filters.type==='إنتاج' ) ? "selected" : "" %>>إنتاج</option>
    <option value="أسبوعي" <%=(filters.type==='أسبوعي' ) ? "selected" : "" %>>أسبوعي</option>
  </select>
</td>
<td scope="col">
  <select class="form-select" name="department" form="filter-form">
    <option value="" selected <%=(!filters.department) ? "selected" : "" %>>إختر</option>
    <% departments.forEach(department=> { %>
      <option value="objectid:<%= department._id %>" <%=(filters.department===department._id.toString() ) ? "selected"
        : "" %>>
        <%= department.name %>
      </option>
      <% }) %>
  </select>
</td>
<td scope="col">
  <div class="input-group">
    <select class="form-select">
      <option value="" <%=(filters.salary.split(":").length===1) ? 'selected' : '' %>>يساوي</option>
      <option value="lt:" <%=(filters.salary.split(":").length===2 && filters.salary.split(":")[0]==='lt' ) ? 'selected' : ''
        %>>أقل من</option>
      <option value="lte:" <%=(filters.salary.split(":").length===2 && filters.salary.split(":")[0]==='lte' ) ? 'selected'
        : '' %>>أقل من أو يساوي</option>
      <option value="gt:" <%=(filters.salary.split(":").length===2 && filters.salary.split(":")[0]==='gt' ) ? 'selected' : ''
        %>>أكبر من</option>
      <option value="gte:" <%=(filters.salary.split(":").length===2 && filters.salary.split(":")[0]==='gte' ) ? 'selected'
        : '' %>>أكبر من أو يساوي</option>
    </select>
    <input type="number" class="form-control" name="salary" form="filter-form" placeholder="الرقم"
      value='<%= (filters.salary.split(":").length === 2) ? filters.salary.split(":")[1] : filters.salary.split(":")[0] %>'>
  </div>
</td>